---
import { type CollectionEntry, getCollection } from "astro:content";
import MarkdownLayout from "../../layouts/MarkdownLayout.astro";
type Post = CollectionEntry<"blog">;

export async function getStaticPaths() {
    const posts = await getCollection("blog");
    return posts.map((post: Post) => ({
        params: { slug: post.slug },
        props: { post },
    }));
}

interface Props {
    post: Post;
}

const { post } = Astro.props;
const { Content, headings } = await post.render();
import PostMeta from "../../components/PostMeta";
---

<MarkdownLayout
    title={post.data.title}
    path="blog"
    description={post.data.exerpt ?? "Blog post by Oli Saxon"}
>
    <h1>{post.data.title}</h1>
    <p class="mb-lg font-heading">{post.data.exerpt}</p>
    <PostMeta published={post.data.published} readTime="5" />
    <Content />
</MarkdownLayout>
