---
import { type CollectionEntry, getCollection } from "astro:content";
import PageLayout from "../../layouts/PageLayout.astro";
import { Image } from "astro:assets";
type Post = CollectionEntry<"blog">;
const posts: Post[] = await getCollection("blog");
---

<PageLayout title="Blog Posts" description="Blog posts page">
    <h1 class="text-title font-heading font-bold text-secondary-800">
        Oli Saxon
    </h1>
    <p class="text-sub-title font-heading text-secondary-800 mb-10">
        On a ride through the digital world, creating things & occasionally
        breaking things.
    </p>
    <section class="">
        <div class="space-y-8">
            {
                posts.map(
                    ({ slug, data: { image: img, title, exerpt, tags } }) => (
                        <div class="list-none relative group flex gap-4 justify-between">
                            <div>
                                <a
                                    href={`/blog/${slug}`}
                                    class="text-xl font-bold underline"
                                >
                                    {title}
                                </a>
                                <p class="text max-w-md">{exerpt}</p>
                                {tags && (
                                    <ul class="flex gap-1">
                                        {tags.map((tag) => (
                                            <li class="text-xs p-1 border rounded bg-accent-200 text-accent-800">
                                                {tag}
                                            </li>
                                        ))}
                                    </ul>
                                )}
                            </div>

                            {img && (
                                <Image
                                    width={120}
                                    height={120}
                                    src={img ?? ""}
                                    alt=""
                                    class="object-cover opacity-75 group-hover:opacity-100 transition-opacity max-w-full"
                                />
                            )}
                        </div>
                    )
                )
            }
        </div>
    </section>
</PageLayout>
