---
import { type CollectionEntry, getCollection } from "astro:content";
import PageLayout from "../../layouts/PageLayout.astro";
import { Image } from "astro:assets";
type Post = CollectionEntry<"blog">;
const posts: Post[] = await getCollection("blog");
---

<PageLayout title="Blog Posts" description="Blog posts page">
    <section class="">
        <div class="space-y-8">
            {
                posts.map(({ slug, data: { title, exerpt, tags } }) => (
                    <div class="list-none relative group flex gap-4 justify-between">
                        <div>
                            <a
                                href={`/blog/${slug}`}
                                class="text-xl font-bold underline"
                            >
                                {title}
                            </a>
                            <p class="text max-w-md">{exerpt}</p>
                            {tags && (
                                <ul class="flex gap-1">
                                    {tags.map((tag) => (
                                        <li class="text-xs p-1 border rounded bg-accent-200 text-accent-800">
                                            {tag}
                                        </li>
                                    ))}
                                </ul>
                            )}
                        </div>
                    </div>
                ))
            }
        </div>
    </section>
</PageLayout>
