@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
        --text-title: clamp(2.49rem, calc(1.82rem + 2.65vw), 3.82rem);
        --text-sub-title: clamp(1.44rem, calc(1.18rem + 1.03vw), 1.95rem);
        --text-paragraph: clamp(1.2rem, calc(1rem + 1.03vw), 1.4rem);
        --text-small: clamp(1rem, calc(0.9rem + 0.7vw), 1.25rem);
        --font--2: clamp(0.69rem, calc(0.64rem + 0.21vw), 0.8rem);
        --font--1: clamp(0.83rem, calc(0.75rem + 0.33vw), 1rem);
        --font-0: clamp(1rem, calc(0.88rem + 0.5vw), 1.25rem);
        --font-1: clamp(1.2rem, calc(1.02rem + 0.73vw), 1.56rem);
        --font-2: clamp(1.44rem, calc(1.18rem + 1.03vw), 1.95rem);
        --font-3: clamp(1.73rem, calc(1.37rem + 1.43vw), 2.44rem);
        --font-4: clamp(2.07rem, calc(1.58rem + 1.96vw), 3.05rem);
        --font-5: clamp(2.49rem, calc(1.82rem + 2.65vw), 3.82rem);

        --font-heading: "Cambo";
        --space-3xs: clamp(0.25rem, calc(0.23rem + 0.12vw), 0.31rem);
        --space-2xs: clamp(0.5rem, calc(0.48rem + 0.12vw), 0.56rem);
        --space-xs: clamp(0.75rem, calc(0.7rem + 0.24vw), 0.88rem);
        --space-sm: clamp(1rem, calc(0.95rem + 0.24vw), 1.13rem);
        --space-md: clamp(1.5rem, calc(1.43rem + 0.37vw), 1.69rem);
        --space-lg: clamp(2rem, calc(1.9rem + 0.49vw), 2.25rem);
        --space-xl: clamp(3rem, calc(2.85rem + 0.73vw), 3.38rem);
        --space-2xl: clamp(4rem, calc(3.8rem + 0.98vw), 4.5rem);
        --space-3xl: clamp(6rem, calc(5.71rem + 1.46vw), 6.75rem);
        --page-padding: clamp(var(--space-sm), 6vw, var(--space-md));

        --small: clamp(20rem, calc(22rem + 4vw), 22rem);

        --danger: #F1655B;
        --success: #80fe97;
        --info: #5148fe;
        --neutral: #e1e1e8;

        --teal: #46CBD4;
        --red: #FF6060;
        --yellow: #FED05A;
        --light-blue: #78F7FF;
        --blue: #6663FF;
        --mint-green: #85FF8A;
        --purple: #8640B2;
    }

    .light {
        --text: #3e4478;
        --background: #f9f8f9;
        --primary: #678c69;
        --secondary: #cdceef;
        --accent: #0b5d72;
    }

    .dark {
        --text: #adf0be;
        --background: #5b4162;
        --primary: #7edc8f;
        --secondary: #8aaece;
        --accent: #e7cb7c;
    }

}

h1,
h2,
h3,
h4 {
    font-family: var(--font-heading);
}

a {
    text-decoration: underline;
}


.cls-1 {
    @apply fill-secondary
}

.cls-2 {
    @apply fill-accent
}

.icon-fill-1 {
    @apply fill-primary
}

.content-grid {
    --padding-inline: var(--space-md);
    --content-max-w: 70ch;
    --breakout-max-w: 85ch;
    --breakout-size: calc((var(--breakout-max-w) - var(--content-max-w)) / 2);

    display: grid;
    grid-template-columns:
        [full-width-start] minmax(var(--padding-inline), 1fr) [breakout-start] minmax(0, var(--breakout-size)) [content-start] min(100% - (var(--padding-inline) * 2), var(--content-max-w)) [content-end] minmax(0, var(--breakout-size)) [breakout-end] minmax(var(--padding-inline), 1fr) [full-width-end];
}


.content-grid> :not(.breakout, .full-width),
.full-width> :not(.breakout, .full-width) {
    grid-column: content;
}

.content-grid>.breakout {
    grid-column: breakout;
}

.content-grid>.content {
    grid-column: content;
}

.content-grid>.content-full-width {
    grid-column: full-width;
}

.content-grid>.full-width {
    grid-column: full-width;

    display: grid;
    grid-template-columns: inherit;
}

.projects-container {
    display: grid;
    grid-column: full-width;
    grid-template-columns: inherit;
    overflow-y: hidden;
}

.projects-container>* {
    grid-column: content;
}

.projects {
    display: flex;
    gap: clamp(var(--page-padding)/2, 4vw, var(--page-padding));
    position: relative;
    width: 100%;
}

.scroll-x {
    max-width: 100%;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
}

li[data-heading-level="3"] {
    font-weight: bold;
    list-style-type: none;
}

li[data-heading-level="4"] {
    margin-left: var(--space-sm);
    list-style: none;
}

/* light theme toggle variants */
[data-theme="light"] .theme-toggle-1 {
    fill: var(--teal);
}

[data-theme="light"] .theme-toggle-2 {
    fill: var(--red);
}

[data-theme="light"] .theme-toggle-3 {
    fill: var(--light-blue);
}

[data-theme="light"] .theme-toggle-4 {
    fill: var(--purple);
}

[data-theme="light"] .theme-toggle-5 {
    fill: var(--yellow);
}

[data-theme="light"] .theme-toggle-6 {
    fill: var(--blue);
}

[data-theme="light"] .theme-toggle-7 {
    fill: var(--mint-green);
}

[data-theme="light"] .theme-toggle-main {
    fill: var(--secondary-900);
}

/* dark theme toggle variants */
[data-theme="dark"] .theme-toggle-1 {
    fill: var(--red);
}

[data-theme="dark"] .theme-toggle-2 {
    fill: var(--teal);
}

[data-theme="dark"] .theme-toggle-3 {
    fill: var(--red);
}

[data-theme="dark"] .theme-toggle-4 {
    fill: var(--light-blue);
}

[data-theme="dark"] .theme-toggle-5 {
    fill: var(--purple);
}

[data-theme="dark"] .theme-toggle-6 {
    fill: var(--yellow);
}

[data-theme="dark"] .theme-toggle-7 {
    fill: var(--blue);
}

[data-theme="dark"] .theme-toggle-main {
    fill: var(--secondary-900);
}