@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
        --text-title: clamp(2.49rem, calc(1.82rem + 2.65vw), 3.82rem);
        --text-sub-title: clamp(1.44rem, calc(1.18rem + 1.03vw), 1.95rem);
        --text-paragraph: clamp(1.25rem, calc(1rem + 1.03vw), 1.7rem);
        --text-small: clamp(1rem, calc(0.9rem + 0.7vw), 1.25rem);
        --font--2: clamp(0.69rem, calc(0.64rem + 0.21vw), 0.8rem);
        --font--1: clamp(0.83rem, calc(0.75rem + 0.33vw), 1rem);
        --font-0: clamp(1rem, calc(0.88rem + 0.5vw), 1.25rem);
        --font-1: clamp(1.2rem, calc(1.02rem + 0.73vw), 1.56rem);
        --font-2: clamp(1.44rem, calc(1.18rem + 1.03vw), 1.95rem);
        --font-3: clamp(1.73rem, calc(1.37rem + 1.43vw), 2.44rem);
        --font-4: clamp(2.07rem, calc(1.58rem + 1.96vw), 3.05rem);
        --font-5: clamp(2.49rem, calc(1.82rem + 2.65vw), 3.82rem);

        --font-heading: "Cambo";
        --space-3xs: clamp(0.25rem, calc(0.23rem + 0.12vw), 0.31rem);
        --space-2xs: clamp(0.5rem, calc(0.48rem + 0.12vw), 0.56rem);
        --space-xs: clamp(0.75rem, calc(0.7rem + 0.24vw), 0.88rem);
        --space-sm: clamp(1rem, calc(0.95rem + 0.24vw), 1.13rem);
        --space-md: clamp(1.5rem, calc(1.43rem + 0.37vw), 1.69rem);
        --space-lg: clamp(2rem, calc(1.9rem + 0.49vw), 2.25rem);
        --space-xl: clamp(3rem, calc(2.85rem + 0.73vw), 3.38rem);
        --space-2xl: clamp(4rem, calc(3.8rem + 0.98vw), 4.5rem);
        --space-3xl: clamp(6rem, calc(5.71rem + 1.46vw), 6.75rem);
        --page-padding: clamp(var(--space-sm), 6vw, var(--space-md));

        --danger: #F1655B;
        --success: #80fe97;
        --info: #5148fe;
        --neutral: #e1e1e8;

        --teal: #46CBD4;
        --red: #FF6060;
        --yellow: #FED05A;
        --light-blue: #78F7FF;
        --blue: #6663FF;
        --mint-green: #85FF8A;
        --purple: #8640B2;
    }

    .light {
        --text-50: #eef6f3;
        --text-100: #ddeee7;
        --text-200: #bbddcf;
        --text-300: #99ccb8;
        --text-400: #77bba0;
        --text-500: #55aa88;
        --text-600: #44886d;
        --text-700: #336652;
        --text-800: #224436;
        --text-900: #11221b;
        --text-950: #09110e;

        --background-default: #dcefe6;
        --background-50: #eef7f3;
        --background-100: #dcefe6;
        --background-200: #badece;
        --background-300: #97ceb5;
        --background-400: #74be9d;
        --background-500: #52ad84;
        --background-600: #418b6a;
        --background-700: #31684f;
        --background-800: #214535;
        --background-900: #10231a;
        --background-950: #08110d;

        --primary-50: #eef7f3;
        --primary-100: #dcefe8;
        --primary-200: #b9dfd0;
        --primary-300: #96cfb9;
        --primary-400: #73bfa2;
        --primary-500: #50af8b;
        --primary-600: #408c6f;
        --primary-700: #306953;
        --primary-800: #204637;
        --primary-900: #10231c;
        --primary-950: #08110e;

        --secondary-50: #eef7f3;
        --secondary-100: #dcefe7;
        --secondary-200: #b9dfd0;
        --secondary-300: #96cfb8;
        --secondary-400: #73bfa1;
        --secondary-500: #50af89;
        --secondary-600: #408c6e;
        --secondary-700: #306952;
        --secondary-800: #204637;
        --secondary-900: #10231b;
        --secondary-950: #08110e;

        --accent-50: #eef7f3;
        --accent-100: #dcefe8;
        --accent-200: #b9dfd0;
        --accent-300: #96cfb9;
        --accent-400: #73bfa2;
        --accent-500: #50af8b;
        --accent-600: #408c6f;
        --accent-700: #306953;
        --accent-800: #204637;
        --accent-900: #10231c;
        --accent-950: #08110e;
    }

    .dark {
        --text-50: #09110e;
        --text-100: #11221b;
        --text-200: #224436;
        --text-300: #336652;
        --text-400: #44886d;
        --text-500: #55aa88;
        --text-600: #77bba0;
        --text-700: #99ccb8;
        --text-800: #bbddcf;
        --text-900: #ddeee7;
        --text-950: #eef6f3;

        --background-default: #10231a;
        --background-50: #08110d;
        --background-100: #10231a;
        --background-200: #214535;
        --background-300: #31684f;
        --background-400: #418b6a;
        --background-500: #52ad84;
        --background-600: #74be9d;
        --background-700: #97ceb5;
        --background-800: #badece;
        --background-900: #dcefe6;
        --background-950: #eef7f3;

        --primary-50: #08110e;
        --primary-100: #10231c;
        --primary-200: #204637;
        --primary-300: #306953;
        --primary-400: #408c6f;
        --primary-500: #50af8b;
        --primary-600: #73bfa2;
        --primary-700: #96cfb9;
        --primary-800: #b9dfd0;
        --primary-900: #dcefe8;
        --primary-950: #eef7f3;

        --secondary-50: #08110e;
        --secondary-100: #10231b;
        --secondary-200: #204637;
        --secondary-300: #306952;
        --secondary-400: #408c6e;
        --secondary-500: #50af89;
        --secondary-600: #73bfa1;
        --secondary-700: #96cfb8;
        --secondary-800: #b9dfd0;
        --secondary-900: #dcefe7;
        --secondary-950: #eef7f3;

        --accent-50: #08110e;
        --accent-100: #10231c;
        --accent-200: #204637;
        --accent-300: #306953;
        --accent-400: #408c6f;
        --accent-500: #50af8b;
        --accent-600: #73bfa2;
        --accent-700: #96cfb9;
        --accent-800: #b9dfd0;
        --accent-900: #dcefe8;
        --accent-950: #eef7f3;
    }

    .mint-choc {
        --text-50: #eff6f3;
        --text-100: #deede7;
        --text-200: #bedacf;
        --text-300: #9dc8b7;
        --text-400: #7cb69f;
        --text-500: #5ca387;
        --text-600: #49836c;
        --text-700: #376251;
        --text-800: #254136;
        --text-900: #12211b;
        --text-950: #09100d;

        --background-default: #5ed4a7;
        --background-50: #ebfaf4;
        --background-100: #d7f4e9;
        --background-200: #aeead3;
        --background-300: #86dfbd;
        --background-400: #5ed4a7;
        --background-500: #36c991;
        --background-600: #2ba174;
        --background-700: #207957;
        --background-800: #15513a;
        --background-900: #0b281d;
        --background-950: #05140e;

        --primary-50: #fce8f0;
        --primary-100: #fad1e1;
        --primary-200: #f4a4c3;
        --primary-300: #ef76a4;
        --primary-400: #ea4886;
        --primary-500: #e41b68;
        --primary-600: #b71553;
        --primary-700: #89103e;
        --primary-800: #5b0b2a;
        --primary-900: #2e0515;
        --primary-950: #17030a;

        --secondary-50: #e9fce9;
        --secondary-100: #d3f8d3;
        --secondary-200: #a7f1a7;
        --secondary-300: #7bea7b;
        --secondary-400: #4fe34f;
        --secondary-500: #22dd22;
        --secondary-600: #1cb01c;
        --secondary-700: #158415;
        --secondary-800: #0e580e;
        --secondary-900: #072c07;
        --secondary-950: #031603;

        --accent-50: #fce9f0;
        --accent-100: #f9d2e1;
        --accent-200: #f2a6c3;
        --accent-300: #ec79a5;
        --accent-400: #e64c87;
        --accent-500: #df2069;
        --accent-600: #b31954;
        --accent-700: #86133f;
        --accent-800: #590d2a;
        --accent-900: #2d0615;
        --accent-950: #16030b;
    }

    .grainy-gradient {
        @apply bg-gradient-to-br from-accent-500 to-secondary-100 grainy-background
    }

    .header-container {
        @apply mx-auto w-full max-w-[90%]
    }
}

h1,
h2,
h3,
h4 {
    font-family: var(--font-heading);
}

a {
    text-decoration: underline;
}

* {
    color: var(--secondary-900);
}


.flow>*+* {
    margin-block-start: var(--space-3xs);
}

.blog-post>h1 {
    font-size: var(--font-5);
    margin-bottom: var(--space-sm);
}

.blog-post>h2 {
    font-size: var(--font-4);
    margin-bottom: var(--space-sm);
}

.blog-post>h3 {
    font-size: var(--font-3);
    margin-bottom: var(--space-sm);
}

.blog-post>h4 {
    font-size: var(--font-1);
    margin-bottom: var(--space-sm);
}

.blog-post>p {
    font-size: var(--font-0);
}

.cls-1 {
    @apply fill-secondary-300
}

.cls-2 {
    @apply fill-accent-200
}

.icon-fill-1 {
    @apply fill-primary-900 group-hover:fill-primary-400 transition-colors
}

.content-grid {
    --padding-inline: var(--space-md);
    --content-max-w: 70ch;
    --breakout-max-w: 85ch;
    --breakout-size: calc((var(--breakout-max-w) - var(--content-max-w)) / 2);

    display: grid;
    grid-template-columns:
        [full-width-start] minmax(var(--padding-inline), 1fr) [breakout-start] minmax(0, var(--breakout-size)) [content-start] min(100% - (var(--padding-inline) * 2), var(--content-max-w)) [content-end] minmax(0, var(--breakout-size)) [breakout-end] minmax(var(--padding-inline), 1fr) [full-width-end];
}


.content-grid> :not(.breakout, .full-width),
.full-width> :not(.breakout, .full-width) {
    grid-column: content;
}

.content-grid>.breakout {
    grid-column: breakout;
}

.content-grid>.content {
    grid-column: content;
}

.content-grid>.content-full-width {
    grid-column: full-width;
}

.content-grid>.full-width {
    grid-column: full-width;

    display: grid;
    grid-template-columns: inherit;
}

.grainy-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: repeat;
    background-image: url('public/grain.png');
    /* Replace with the path to your grain texture */
    opacity: 0.1;
}

.projects-container {
    display: grid;
    grid-column: full-width;
    grid-template-columns: inherit;
    overflow-y: hidden;
}

.projects-container>* {
    grid-column: content;
}

.projects {
    display: flex;
    gap: clamp(var(--page-padding)/2, 4vw, var(--page-padding));
    position: relative;
    width: 100%;
}

.scroll-x {
    max-width: 100%;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
}

/* light theme toggle variants */
[data-theme="light"] .theme-toggle-1 {
    fill: var(--teal);
}

[data-theme="light"] .theme-toggle-2 {
    fill: var(--red);
}

[data-theme="light"] .theme-toggle-3 {
    fill: var(--light-blue);
}

[data-theme="light"] .theme-toggle-4 {
    fill: var(--purple);
}

[data-theme="light"] .theme-toggle-5 {
    fill: var(--yellow);
}

[data-theme="light"] .theme-toggle-6 {
    fill: var(--blue);
}

[data-theme="light"] .theme-toggle-7 {
    fill: var(--mint-green);
}

[data-theme="light"] .theme-toggle-main {
    fill: var(--secondary-900);
}

/* dark theme toggle variants */
[data-theme="dark"] .theme-toggle-1 {
    fill: var(--red);
}

[data-theme="dark"] .theme-toggle-2 {
    fill: var(--teal);
}

[data-theme="dark"] .theme-toggle-3 {
    fill: var(--red);
}

[data-theme="dark"] .theme-toggle-4 {
    fill: var(--light-blue);
}

[data-theme="dark"] .theme-toggle-5 {
    fill: var(--purple);
}

[data-theme="dark"] .theme-toggle-6 {
    fill: var(--yellow);
}

[data-theme="dark"] .theme-toggle-7 {
    fill: var(--blue);
}

[data-theme="dark"] .theme-toggle-main {
    fill: var(--secondary-900);
}

/* mint choc theme toggle variants */
[data-theme="mint-choc"] .theme-toggle-1 {
    fill: var(--purple);
}

[data-theme="mint-choc"] .theme-toggle-2 {
    fill: var(--blue);
}

[data-theme="mint-choc"] .theme-toggle-3 {
    fill: var(--yellow);
}

[data-theme="mint-choc"] .theme-toggle-4 {
    fill: var(--teal);
}

[data-theme="mint-choc"] .theme-toggle-5 {
    fill: var(--light-blue);
}

[data-theme="mint-choc"] .theme-toggle-6 {
    fill: var(--red);
}

[data-theme="mint-choc"] .theme-toggle-7 {
    fill: var(--yellow);
}

[data-theme="mint-choc"] .theme-toggle-main {
    fill: var(--secondary-900);
}