---
import PageLayout from "../layouts/PageLayout.astro";
import { Image } from "astro:assets";
import ProjectsScroller from "../components/ProjectsScroller.astro";
import { getCollection, type CollectionEntry } from "astro:content";
type Post = CollectionEntry<"blog">;
const posts: Post[] = await getCollection("blog");
---

<PageLayout
    title="Welcome to Astro."
    description={`Oli Saxon | Explorer in the world of software development, dipping my toes in
        web-design & UX.`}
>
    <h1 class="text-title font-heading font-bold">Oli Saxon</h1>
    <p class="font-heading text-sub-title mb-lg">
        Explorer in the world of software development, dipping my toes in
        web-design & UX.
    </p>
    <ProjectsScroller />

    <section class="mb-lg">
        <p class="text-sub-title font-heading mb-sm">A bit about me</p>
        <p class="text-small mb-xs">
            I'm an enthusiastic full-stack software developer, trying to bridge
            the gap between web design and development. I take pride in creating
            user-friendly experiences that employ thoughtful design choices. As
            a relatively new member in the field, I embrace every opportunity to
            collaborate and expand my understanding of current web best
            practices, always eager to learn and contribute to innovative
            solutions.
        </p>
        <p class="text-small mb-xs">
            When I'm not coding, I enjoy rock climbing and bouldering, yoga, and
            music production - usually not all at the same time 😄
        </p>
        <p class="text-small">
            Feel free to <span
                ><a
                    class="underline text-accent-700"
                    href="mailto:oliverrsaxon@gmail.com">get in touch</a
                ></span
            > if you want to know more.
        </p>
    </section>

    <section class="mb-lg">
        <p class="text-sub-title font-heading mb-sm">Latest Posts</p>
        <p class="text-small mb-lg">
            My thoughts and insights on my jouryney into web development,
            sprinkled with occasional 'non-techy' reflections."
        </p>
        <ul class="space-y-md">
            {
                posts.map(({ slug, data: { image, title, exerpt, tags } }) => (
                    <div class="list-none relative group flex gap-4 justify-between ">
                        <div class="space-y-2">
                            <a
                                href={`/blog/${slug}`}
                                class="text-paragraph font-bold underline"
                            >
                                <h3 class="text-secondary-900">{title}</h3>
                            </a>
                            <p class="text-small max-w-md">{exerpt}</p>
                            {tags && (
                                <ul class="flex gap-1">
                                    {tags.map((tag) => (
                                        <li class="text-xs p-1 rounded bg-background-500 border-secondary-400 text-text-900">
                                            {tag}
                                        </li>
                                    ))}
                                </ul>
                            )}
                        </div>
                    </div>
                ))
            }
        </ul>
    </section>
</PageLayout>
