---
import PageLayout from "../layouts/PageLayout.astro";
import { getCollection, type CollectionEntry } from "astro:content";
import { ShapeOne } from "../components/svgs/ShapeOne";
type Post = CollectionEntry<"blog">;
const posts: Post[] = await getCollection("blog");
---

<PageLayout
    description={`Oli Saxon | Explorer in the world of software development, dipping my toes in
        web-design & UX.`}
>
    <section
        class="bg-gradient-to-b relative from-background min-h-[calc(100svh-56px)] to-secondary-100 full-width"
    >
        <h1 class="text-title z-50 font-heading font-bold flex items-end">
            Oli Saxon
        </h1>
        <p class="font-heading z-50 text-sub-title mb-md">
            If software development is a game, I'm currently grinding for that
            next level and wondering how everyone else around me seems to be
            maxed out.
        </p>
        <ShapeOne />
    </section>

    <section
        class="mb-lg full-width min-h-[70svh] bg-secondary-100 text-text-800 py-6"
    >
        <p class="text-small mb-xs">
            I'm a full-stack software developer trying to join the dots between
            design and development.
        </p>
        <p class="text-small mb-xs">
            As a new member in the field, I appreciate the chance to collaborate
            and enhance my understanding of current web best practices. I'm
            always ready to learn and contribute to practical solutions.
        </p>
        <p class="text-small mb-xs">
            When I'm not coding, I enjoy bouldering, yoga, and music production
            - usually not all at the same time 😄
        </p>
        <p class="text-small">
            Feel free to <span
                ><a
                    class="underline text-accent-700"
                    href="mailto:oliverrsaxon@gmail.com">get in touch</a
                ></span
            > if you want to know more.
        </p>
    </section>

    <section class="mb-lg">
        <p class="text-sub-title font-heading mb-sm">Latest Posts</p>
        <p class="text-small mb-lg">
            My thoughts and insights on my jouryney into web development,
            sprinkled with occasional 'non-techy' reflections."
        </p>
        <ul class="space-y-md">
            {
                posts.map(({ slug, data: { title, exerpt, tags } }) => (
                    <li class="list-none rounded relative group flex gap-4 justify-between ">
                        <div class="space-y-2">
                            <a
                                href={`/blog/${slug}`}
                                class="text-paragraph font-bold underline"
                            >
                                <h3 class="text-secondary-900">{title}</h3>
                            </a>
                            <p class="text-small max-w-md">{exerpt}</p>
                            {tags && (
                                <ul class="flex gap-1">
                                    {tags.map((tag) => (
                                        <li class="text-xs p-1 rounded bg-background-500 border-secondary-400 text-text-900">
                                            {tag}
                                        </li>
                                    ))}
                                </ul>
                            )}
                        </div>
                    </li>
                ))
            }
        </ul>
    </section>
</PageLayout>
