---
import PageLayout from "../layouts/PageLayout.astro";
import { ShapeOne } from "../components/svgs/ShapeOne.tsx";
import ProjectsScroller from "../components/ProjectsScroller.astro";
---

<PageLayout title="Welcome to Astro." description="">
    <h1 class="text-title font-heading font-bold text-secondary-900">
        Oli Saxon
    </h1>
    <p class="text-secondary-900 font-heading text-sub-title mb-10">
        Explorer in the world of software development, dipping my toes in
        web-design & UX.
    </p>
    <section class="relative py-6">
        <ProjectsScroller />
    </section>
    <section class="relative py-6 full-width">
        <p class="text-sub-title font-heading text-secondary-800 mb-10">
            Latest Posts
        </p>
    </section>
</PageLayout>
