---
import PageLayout from "../layouts/PageLayout.astro";
import { Image } from "astro:assets";
import { getCollection, type CollectionEntry } from "astro:content";
type Post = CollectionEntry<"blog">;
const posts: Post[] = await getCollection("blog");
---

<PageLayout
    description={`Oli Saxon | Explorer in the world of software development, dipping my toes in
        web-design & UX.`}
>
    <section
        class="relative full-width content-grid text-text border-b border-text"
    >
        <h1 class="text-title z-50 font-heading font-bold flex items-end">
            Oli Saxon
        </h1>
        <p class="font-heading text-sub-title mb-md">
            If software development is a game, I'm currently grinding for that
            next level and wondering how everyone else around me seems to be
            maxed out.
        </p>
    </section>

    <section
        class="full-width text-text py-6 bg-opacity-20 bg-white border-b border-text"
    >
        <p class="text-sub-title font-heading mb-sm">A bit about me</p>

        <p class="text-small mb-xs">
            I'm a full-stack software developer working with JavaScript &
            Typescript, Node and React.
        </p>
        <p class="text-small mb-xs">
            As a new member in the field, I appreciate the chance to collaborate
            and enhance my understanding of current web best practices. I'm
            always ready to learn and contribute to practical solutions.
        </p>
        <p class="text-small mb-xs">
            When I'm not coding, I enjoy bouldering, yoga, and music production
            - usually not all at the same time 😄
        </p>
        <p class="text-small">
            Feel free to <span
                ><a
                    class="underline text-accent"
                    href="mailto:oliverrsaxon@gmail.com">get in touch</a
                ></span
            > if you want to know more.
        </p>
    </section>

    <section class="py-8 full-width">
        <p class="text-sub-title font-heading mb-sm">Latest Posts</p>
        <p class="text-small mb-lg">
            My thoughts and insights on my jouryney into web development,
            sprinkled with occasional 'non-techy' reflections."
        </p>
        <ul class="space-y-md">
            {
                posts.map(({ slug, data: { title, exerpt, tags } }) => (
                    <li class="list-none rounded relative group flex gap-4 justify-between ">
                        <div class="space-y-2">
                            <a
                                href={`/blog/${slug}`}
                                class="text-paragraph font-bold"
                            >
                                <h3>{title}</h3>
                            </a>
                            <p class="text-small max-w-md">{exerpt}</p>
                            {tags && (
                                <ul class="flex gap-1">
                                    {tags.map((tag) => (
                                        <li class="text-sm p-1 rounded bg-accent text-background border-secondary">
                                            {tag}
                                        </li>
                                    ))}
                                </ul>
                            )}
                        </div>
                    </li>
                ))
            }
        </ul>
    </section>
</PageLayout>

<style>
    .hero-banner {
        background-image: url("https://res.cloudinary.com/djaiep6vj/image/upload/v1700609385/iPhone_14_-_1_ejp5jw.png");
        background-position: center;
        background-attachment: fixed;
    }
</style>
