---
import { type CollectionEntry, getCollection } from "astro:content";
import { Image } from "astro:assets";
type Project = CollectionEntry<"project">;
let projects: Project[] = await getCollection("project");
---

<section class="mb-12 full-width">
    <p class="text-sub-title font-heading mb-sm">Recent Projects</p>
    <article class="relative projects-container full-width scroll-x">
        <ul role="list" class="projects py-4">
            {
                projects &&
                    projects.map((project) => {
                        return (
                            <li class="flex-shrink-0 hover:scale-105 transition-transform duration-200 origin-top-left border-2 border-secondary-100 rounded-lg bg-secondary-50 p-4 w-[calc(220px+8vw)]">
                                <Image
                                    src={project.data.image ?? ""}
                                    width={800}
                                    height={450}
                                    alt=""
                                    class="aspect-video object-contain"
                                />
                                <a
                                    class="border"
                                    href={`/projects/${project.slug}`}
                                >
                                    {project.data.title}
                                </a>
                            </li>
                        );
                    })
            }
        </ul>
    </article>
</section>
