---
import { type CollectionEntry, getCollection } from "astro:content";
import MarkdownLayout from "../../layouts/MarkdownLayout.astro";

type Project = CollectionEntry<"project">;

export async function getStaticPaths() {
    const projects = await getCollection("project");
    return projects.map((project: Project) => ({
        params: { slug: project.slug },
        props: { project },
    }));
}

interface Props {
    project: Project;
}

const { project } = Astro.props;
const { Content, headings } = await project.render();
---

<MarkdownLayout
    title={project.data.title}
    path="projects"
    description={`Project ${project.data.title} by Oli Saxon`}
>
    <header>
        <h1>{project.data.title}</h1>
        <p class="font-heading">{project.data.description}</p>
    </header>
    <Content />
</MarkdownLayout>
