---
import { ViewTransitions } from "astro:transitions";
import "@fontsource/caprasimo";
import "@fontsource/cambo";
import "../styles/main.css";
interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html data-theme="light" class="light scroll-smooth" lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="description"
            content={description ?? "Oli Saxons personal site and blog."}
        />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <script src="https://unpkg.com/lucide@latest"></script>
        <meta name="generator" content={Astro.generator} />

        <ViewTransitions />
        <title>{title}</title>
    </head>
    <body
        transition:animate="slide"
        class="bg-background text-text-950 flex flex-col gap-12"
    >
        <slot />
    </body>
</html>
