---
interface Props {
    title: string;
    description: string;
    path: "blog" | "projects";
}
import Header from "../components/Header.astro";
import BaseLayout from "./BaseLayout.astro";
import "../styles/main.css";
import { ViewTransitions } from "astro:transitions";

const { title, path, description } = Astro.props;
---

<BaseLayout title={title} description={description}>
    <Header
        title={{ label: path, href: `/${path}` }}
        links={[{ label: "home", href: "/" }]}
    />
    <main class="@container content-grid">
        <article
            class="prose @xl:prose-lg py-8 prose-li:list-none dark:prose-invert"
        >
            <slot />
        </article>
    </main>
</BaseLayout>
